@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {

  /* Page Background */
  --black: #211F1F;
  --white: #f4f4f4;
  /* Fonts */
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Rock Salt', sans-serif;
  /* Other */
  --top-padding: 27vmin;
  --side-padding: 20vmin;
  --scale-amount: 1.1;
  /* Gap Between Items */
  --gap: 16px;

  /* Radius */
  --radius: 0px;
  /* Options */
  --box-color: rgb(67, 67, 67);
  --text-color: var(--white);
  --q-bg-color: rgb(213, 213, 213);

  /* All Inputs */
  --line-style: solid;
  --line-width: 1px;
  --line-color: #ccc;
  --span-color: #b3b3b3;
  --hover-color: black;
  --text-selected: white;
  --box-padding: 16px;
  --border: var(--line-width) var(--line-style) var(--line-color);
  /* Collision Button */
  --collision-anim-speed: 0.6s;
  /* Position Aware Button */
  --psw-span-dim: 56vmin; /*Dimension*/
  --posaware-transition-speed: 0.5s;
  /* Transitions */
  --filter-speed: 0.6s;
  --hue-duration: 0s;
  /* Highlights */
  --highlight-duration: 0.4s;
  --highlight-opacity: 0.6;
}



/* RESETS */

button, a {
  margin: 0;
  padding: 0;
  all: unset;
  cursor: pointer;
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
* {
  box-sizing: border-box;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-select: none !important;
}
/* RESETTING INPUTS */
input {
  transition: border-color 0.3s ease;
  background-color: transparent !important;
  appearance: none;
  border: none;
  outline: none;
}
.input-box::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.input-box:focus {
  color: var(--white);
}
/* Chrome */
.input-box:-webkit-autofill {
  background-color: transparent !important; /* Set background color to black */
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* Reset the background color */
  -webkit-text-fill-color: var(--white) !important; /* Keep the text white */
  transition: background-color 5000s ease-in-out 0s; /* Prevent autofill flash */
}
/* Firefox */
.input-box:-moz-autofill {
  background-color: transparent !important; /* Set background color to black */
  -moz-box-shadow: 0 0 0 1000px transparent inset !important; /* Reset the background color */
  -moz-text-fill-color: var(--white) !important; /* Keep the text white */
}



/* MAIN CSS */

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--black);
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  padding: var(--top-padding) var(--side-padding);
  display: flex;
  flex-direction: column;
  gap: 22vmin;
}


/* HERO SECTION */

.hero-section {
  flex-direction: column;
  display: flex;
  gap: 48px;
}
.hero-section > * {
  width: fit-content;
}
.header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.project-title {
  font-size: 20px;
  font-weight: 800;
}
.project-subtitle {
  font-size: 6.5vmin;
  font-weight: 600;
}
.project-title,
.project-subtitle {
  font-family: var(--primary-font);
}
.music-note {
  width: 80px;
  position: absolute;
  bottom: 16%;
  right: -20%;
  rotate: 20deg;
  opacity: 0.7;
}

/* incentives */

:root {
  --base-scale: 0.9vmin; /* Controls scale of highlights */
}
.highlight-group {
  display: flex;
  gap: calc(9 * var(--base-scale));
}
.hdash {
  gap: calc(3 * var(--base-scale));
  display: flex;
  color: var(--black);
  text-align: center;
  align-items: center;
  font-size: calc(2.2 * var(--base-scale));
  line-height: calc(4 * var(--base-scale));
  font-family: var(--secondary-font);
}
.hdash p {
  white-space: nowrap;
}
.hdash svg {
  height: calc(9.8 * var(--base-scale));
  position: absolute;
  opacity: 0.85;
  width: auto;
  z-index: -1;
}
.hdash img {
  padding-left: calc(6.8 * var(--base-scale));
}
.hdash .clock {
  height: calc(6 * var(--base-scale));
}
.hdash .percent {
  height: calc(4.4 * var(--base-scale));
}

/* right banner */

.right-banner {
  height: 82vmin;
  display: none;
}

/* inputs */

.form-section {
  padding-top: 2vmin;
  display: flex;
  gap: 7vmin;
}
.name {
  width: 60%;
}
.email {
  width: 80%;
}
.input-box {
  width: 100%;
  padding: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--primary-font);
  border-bottom: 2px solid var(--white);
}
label {
  color: var(--white);
  font-size: 20px;
  font-family: var(--secondary-font);
}

/* NAV-BAR */

.nav {
  padding: 5vmin 6vmin;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
}
.top-left-nav {
  gap: 12px;
  display: flex;
  align-items: start;
}
.logo {
  width: 10vmin;
  height: auto;
}
.home-text {
  color: var(--white);
  font-size: 2.8vmin;
  font-weight: 600;
}
.back-arrow {
  width: 3.6vmin;
  padding: 0;
}
.home-text,
.back-arrow {
  opacity: 0.5;
}

/* rates */

:root {
  --price-font-size: 3.7vmin;
  --small-price-font-size: calc(var(--price-font-size) * 0.43);
}
.rates-txt {
  padding-top: 3.2vmin;
  font-family: var(--secondary-font);
  transform: rotate(-90deg);
}
.price-section {
  display: flex;
  align-items: flex-start;
  gap: var(--price-font-size);
}
.price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--price-font-size) * 0.2);
}
.price {
  font-size: var(--price-font-size);
  font-weight: 700;
  text-align: center;
}
.price-label {
  font-size: var(--small-price-font-size);
  font-weight: 700;
  text-align: center;
}
.price-note {
  opacity: 0.5;
  font-size: var(--small-price-font-size);
  font-weight: 600;
  text-align: center;
}



/* QUESTION BOXES */

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 24px;
  font-family: var(--secondary-font);
}
h3 {
  opacity: 0.7;
  font-weight: 700;
  font-size: 16px;
  font-family: var(--primary-font);
}
.question {
  gap: calc(var(--gap)*2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12vmin;
}
.option {
  color: var(--text-color);
  font-weight: 500;
  background-color: var(--box-color);
  font-family: var(--primary-font);
}
.large-boxes {
  display: flex;
  gap: calc(var(--gap)*3);
  flex-direction: column;
  align-items: center;
}
.large-box {
  cursor: pointer;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  min-width: 240px;
  font-size: 2.3vmin;
  border-radius: var(--radius) !important;
}
.large-box:has(input[type="checkbox"]:checked) {
  background-color: var(--white);
  color: var(--black);
}
.large-box img {
  width: 92% !important;
  border-radius: var(--radius) !important;
}



/* Smaller Screens */
@media (max-width: 700px) {
  :root {
    --top-padding: 28vmin;
  }
  .right-banner {
    display: none;
  }
  .form-section {
    flex-direction: column;
    gap: 3.6vmin;
  }
  .form-input {
    width: 100%;
  }
  .music-note {
    right: -26%;
    top: 10%;
  }
}







/* Text + Headers */


.two-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--gap)*4);
}

/* Tick Boxes Div */

.tick-boxes {
  display: grid;
  gap: var(--gap);
  grid-template-columns:
    repeat(3, 1fr);
  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
}


/* Removing Basic Checkboxes */
input[type="radio"] {
  display: none;
}
/* Checkbox Inputs (Multiple Selected) */
/* input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} */
/* Puts Checkmark infront */
.option input[type="checkbox"] {
  z-index: 1000;
}
/* Removes Checkbox Mark - Large Inputs */
.large-box input[type="checkbox"] {
  position: absolute;
  display: none;
  opacity: 0;
}


/* Image in Box */

.large-box img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

/* Icon in Box */

.option img[src$=".svg"] {
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
}

.option:hover img[src$=".svg"],
.option.selected img[src$=".svg"] {
  filter: invert(1);
  transition: filter var(--posaware-transition-speed);
}

/* Form styling */

form {
  width: 100%;
  padding: 0;
  margin: 0;
}

form input {
  width: 100%;
}

.form-item {
  width: 100%;
  position: relative;
}

/* Input Field */
.form-item input {
  padding: var(--box-padding);
  box-sizing: border-box;
  border: var(--border);
  border-radius: var(--radius);
}

.form-item label {
  position: absolute;
  top: -10px;
  left: 12px;
  background-color: var(--page-bg-color);
  border-radius: var(--radius);
  padding: 0 4px;
}

/* Margin on Text Inputs (Name, Email, etc.) */
.text-input {
  margin: calc(var(--gap)*2) auto;
}



/* Buttons */

button {
  cursor: pointer;
}

:root {
  --border-color: black;
  --button-timing-function: ease-in-out;
  --access-gradient: linear-gradient(-54deg, #787878 0%, #000000 40%, #000000 60%, #8c8c8c 100%);
  --access-button-width: 280px;
  --circle-width: calc(var(--access-button-width) * 1.2);
  --circle-height: calc(var(--access-button-width) * 0.9);
}


/* SUBMIT / ACCESS Button */

.access-button {
  border-radius: 32px;
  border: var(--line-width) solid black;
  padding: 24px 30px;
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Allow items to wrap within the button */
  font-size: 18.4px;
  font-family: var(--secondary-font);
  font-weight: 900;
  text-align: left;
  background: var(--fill-color);
  width: auto; /* Let the width be flexible within max-width */
  box-sizing: border-box;
}

.access-button span {
  flex-grow: 1; /* Allow span to grow and wrap */
  word-break: break-word; /* Allow long words to break */
  white-space: normal; /* Allow normal wrapping */
}

.access-button:hover {
  color: white;
}

.access-button img {
  width: 76px;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.access-button span,
.access-button img {
  z-index: 2;
  transition: color var(--collision-anim-speed);
}


/* COLLISION Formatting */

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }

  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    left: 50%;
    width: var(--circle-width);
    height: var(--circle-height);
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }

  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    right: 50%;
    width: var(--circle-width);
    height: var(--circle-height);
  }
}

.collision-btn {
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background: var(--access-gradient);
    border-radius: 50%;
    z-index: 1;
  }

  &::before {
    left: -20px;
    transform: translate(-50%, -50%);
  }

  &::after {
    right: -20px;
    transform: translate(50%, -50%);
  }

  &:hover {

    &::before {
      animation: criss-cross-left var(--collision-anim-speed) both alternate;
    }

    &::after {
      animation: criss-cross-right 0.75s both alternate;
    }
  }
}



/* POSITION AWARE Button */

.btn-posnawr {
  background-color: var(--fill-color);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color var(--posaware-transition-speed) var(--button-timing-function);
}

.btn-posnawr span {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  background-color: var(--span-color);
  -webkit-transition: width var(--posaware-transition-speed) var(--button-timing-function), height var(--posaware-transition-speed) var(--button-timing-function);
  transition: width var(--posaware-transition-speed) var(--button-timing-function), height var(--posaware-transition-speed) var(--button-timing-function);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.btn-posnawr p,
.btn-posnawr img {
  z-index: 1;
}

.btn-posnawr:hover {
  color: var(--hover-color);
}


.btn-posnawr:hover span {
  width: var(--psw-span-dim);
  height: var(--psw-span-dim);
}

.btn-posnawr:hover img,
.btn-posnawr.selected img {
  transition: filter var(--posaware-transition-speed);
}

/* Large Button Animation */

:root {
  --hue-saturation: 1.5;
}
.option {
  transition: transform 0.55s ease, background 0.45s ease;
}

/* Rotations */
.rotate {
  transform: rotate(-10deg) scale(1.1);
}
.hover-rotate:hover {
  transform: rotate(-10deg) scale(1.1);
  background: var(--white);
  color: var(--black);
}
.hover-rotate img {
  transition: filter var(--hue-duration) ease;
}

/* Hues */
.blue-hue:hover img,
.blue-hue input:checked ~ img {
  filter: brightness(0.9) sepia(0.4) hue-rotate(180deg) saturate(var(--hue-saturation));
}
.green-hue:hover img,
.green-hue input:checked ~ img {
  filter: brightness(0.9) sepia(0.4) hue-rotate(65deg) saturate(var(--hue-saturation));
}
.red-hue:hover img,
.red-hue input:checked ~ img {
  filter: brightness(0.9) sepia(0.4) hue-rotate(-35deg) saturate(var(--hue-saturation));
}
.option:checked {
  filter: brightness(0.9) sepia(0.4) hue-rotate(-35deg) saturate(var(--hue-saturation));
}


/* Dropdown Selection */
select {
  width: 100%;
  outline: none;
  padding: var(--box-padding);
  border: var(--border);
  font-family: var(--primary-font);
  font-size: var(--basic-font-size);
  border-radius: var(--radius);
  /* Fixing Arrow */
  appearance: none; /* Removes default styling */
  -webkit-appearance: none; /* Ensures compatibility with WebKit browsers */
  -moz-appearance: none; /* Ensures compatibility with Firefox */
  position: relative;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23000" d="M2 5L0 3h4z"/></svg>'); /* Custom arrow pointing down */
  background-repeat: no-repeat;
  background-size: 10px; /* Adjust size of the arrow */
  background-position: right var(--box-padding) center; /* Adjust position of the arrow */
}

select option[value=""] {
  color: #aaa; /* Sets the color to a light grey */
}


/* Extras */

.add-item-button {
  height: 24px;
}


/* Highlighting Text */

.highlight-container {
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.large-box input {
  cursor: pointer;
}

.highlight-stroke {
  position: absolute;
  width: 118%;
  height: 100%;
  top: 50%;
  left: -9%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}

.highlight-stroke path {
  opacity: var(--highlight-opacity);
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

@keyframes drawStroke {
  to {
      stroke-dashoffset: 0;
      opacity: var(--highlight-opacity);
  }
}

.large-box p {
  position: relative;
  z-index: 1;
}

@keyframes reverseStroke {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 500;
  }
}


/* Info Boxes */

.info-text {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  margin-top: var(--gap);
  font-size: var(--small-font-size);
  opacity: 0.4;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  padding: 6px;
}
#info-text {
  color: var(--black);
}

/* Popup container */
.info-popup {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fefefe;
  padding: var(--box-padding);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-size: 14px;
  width: 205px;
  height: auto;
  border: var(--border);
}

.info-popup p {
  text-transform: none;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Showing / Hiding Smoothly */




/* Rates */

.rates-section {
  align-items: center;
}
.rates-container {
  background-color: var(--box-color);
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 120%;
  display: flex;
  justify-content: space-between;
}

.rate-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.hover-effect {
  transition: transform 0.35s ease;
}

.rate-item:hover {
  cursor: default;
}

.hover-effect:hover {
  transform: scale(var(--scale-amount));
}

/* .small-hover {
  cursor: default;
}

.small-hover:hover {
  transform: scale(calc(1+(var(--scale-amount)-1)*0.5));
  cursor: default;
} */

.hover-effect.pointer:hover {
  transform: scale(var(--scale-amount));
  cursor: pointer;
}

.price {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  font-size: var(--basic-font-size);
  font-weight: 600;
  margin-bottom: 5px;
}

.note {
  font-size: var(--small-font-size);
  color: #666;
}


/* Reviews */
.review-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap)/2);
  text-align: center;
  align-items: center;
}

.review-text {
  font-size: var(--basic-font-size);
  font-style: italic;
  color: var(--text-color);
  max-width: 70vw;
}

.stars {
  color: rgba(0, 0, 255, var(--highlight-opacity));
  font-size: 20px;
  display: block;
}


/* Rotated Bar - Enquiries Bar */

.rotated-bar {
  position: absolute;
  left: -90%;
  top: 15%;
  transform: rotate(-45deg);
  width: 200%;
  height: 100px;
  background: url('images/bar-image.png');
  opacity: 1; /* Lower the opacity of the image */
  background-size: cover; /* Ensures the image covers the entire area while maintaining its aspect ratio */
  background-position: center; /* Centers the image within the bar */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the content is clipped to the boundaries of the bar */
}

.rotated-bar::before {
  background: 
      linear-gradient(rgba(0, 0, 255, var(--highlight-opacity)), rgba(0, 0, 255, var(--highlight-opacity)));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it's behind the text and overlay */
  pointer-events: none; /* Make sure it doesn’t interfere with user interaction */
}

.rotated-bar span {
  font-family: 'Rock Salt', 'sans-serif';
  color: white;
  font-size: 32px;
  font-weight: bold;
}


/* Unused */
.enquiries-logo {
  width: 550px;
  height: auto;
}



/* Media Queries - Large Device */

@media (min-width: 769px) {
  .header {
    flex-direction: row;
  }
  .large-boxes {
    flex-direction: row;
  }
  :root {
    --gap: 20px;
  }
  .two-inputs {
    flex-direction: row;
    gap: var(--gap);
  }
}


/* For Small Screens - Media Queries */
@media (max-width: 769px) {
  .large-box {
    min-width: 0;
    width: 50vw;
  }
  .rates-section {
    width: 50%;
  }
  .rates-container {
    flex-direction: column;
    align-items: center;
    padding: 24px 20px;
  }
  .rate-item {
    width: 60%;
  }
  .rate-item .price {
    font-size: 1.8rem;
  }
  .rotated-bar {
    left: -80%;
    z-index: -1;
  }
  .down-arrow {
    display: none;
  }
}


/* Stops hover effects */
.disable-hover * {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.down-arrow {
  position: absolute;
  bottom: 6vh;
  right: 10vw;
}



/* .question {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.question.show {
  opacity: 1;
  transform: translateY(0);
} */